* text=auto

*.c text
*.cmake text
*.cpp text
*.h text
*.hpp text
*.in text
*.iss text
*.json text
*.md text
*.ps1 text
*.py text
*.ts text
*.txt text
*.xml text
*.yaml text
*.yml text

*.bin binary
*.bmp binary
*.docx binary
*.dll binary
*.engine binary
*.exe binary
*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.lib binary
*.onnx binary
*.pdb binary
*.pdparams binary
*.pdf binary
*.png binary
*.pptx binary
*.psd binary
*.pt binary
*.qm binary
*.tar binary
*.webp binary
*.xlsx binary
*.7z binary
*.zip binary
